.td-toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.td-toggler-wrapper input[type="checkbox"] {
  display: none;
}

.td-toggler-wrapper input[type="checkbox"]:checked+.td-toggler-slider {
  background-color: #44cc66;
}

.td-toggler-wrapper .td-toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.td-toggler-wrapper .td-toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.td-toggler-wrapper input[type="checkbox"]:checked+.td-toggler-slider {
  background-color: lightgray;
}

.td-toggler-wrapper input[type="checkbox"]:checked+.td-toggler-slider .td-toggler-knob {
  left: calc(100% - 19px - 3px);
  background-color: green;
}

.td-toggler-wrapper .td-toggler-slider {
  background-color: lightgray;
  -webkit-box-shadow: 2px 4px 8px rgba(200, 200, 200, 0.5);
  box-shadow: 2px 4px 8px rgba(200, 200, 200, 0.5);
  border-radius: 5px;
}

.td-toggler-wrapper .td-toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 5px;
  left: 3px;
  top: 3px;
  background-color: gray;
}

.td-group-layout .td-layout-header .hint {
  font-size: small;
}

.td-group-layout .td-layout-header .hint:before {
  content: 'Select/Deselect All';

}
